/*@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

    h1 {
       font-family:'SEGA LOGO FONT';
       font-weight: 200; 
       color: #0ccac4;
    }*/
   

    @font-face {
        font-family: 'Iron Maiden';
        font-style: normal;
        font-weight: bold; 
        src: local('Iron Maiden'), url('maiden.woff') format('woff');
        }    

        h1 {
            font-family:'Iron Maiden';
            font-weight: 500; 
            color: red;            
         }

        .iron {
            font-size: 3.8em;          
         }
     